In [1]:
import utils, data, simulation
import os
import os.path as op
import pandas as pd
import numpy as  np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
checkAxon = True
drawAllDist = False

In [3]:
#create an instance of data processing class
data = data.processing()

In [4]:
#folder containing scripts
scriptpath = os.environ['SCRIPT_DATA']
outpath = op.join(scriptpath, 'data')
filename = 'stimulation_thresholds.csv'
df = pd.read_csv(op.join(outpath,'experiment_notes',filename))
df.columns = df.columns.str.strip()

df= df.rename(columns= {'Patient No':'Subject'})

In [5]:
op.join(outpath,'experiment_notes',filename)

'/mnt/viscog/FineLab/ArgusScripts/data/experiment_notes/stimulation_thresholds.csv'

In [6]:
# Remove the ones not used in the double electrode experiment
#df = df[df['Selected']!=0]

#change column name
df= df.rename(columns= {'Patient No':'Subject'})
# Average multiple measurements for a given session
avg_data = (df
.groupby(['Subject','Session', 'Electrode'])
.mean())

In [7]:
num_electrode = (df
.groupby(['Subject'])
.nunique())

In [8]:
num_electrode

         Session  Electrode  Threshold  Selected
Subject
12-005         2         12         10         2
12-104         2         14         11         2
13-101         2         12         13         2

In [9]:
# individual electrodes
avg_data= avg_data.reset_index()
avg_data.sort_values(by = ['Threshold'])

   Subject     Session Electrode  Threshold  Selected
30  13-101  2019/05/31       B10       89.0       1.0
41  13-101   2019/10/7       B10       93.0       1.0
1   12-005  2019/05/29        A8      153.0       1.0
42  13-101   2019/10/7        B9      177.0       1.0
37  13-101  2019/05/31       F10      177.0       1.0
0   12-005  2019/05/29        A4      194.0       1.0
43  13-101   2019/10/7        C6      202.0       0.0
34  13-101  2019/05/31        C9      202.0       0.0
45  13-101   2019/10/7       F10      202.0       1.0
32  13-101  2019/05/31        C6      210.0       1.0
22  12-104   2019/10/8       B10      217.0       1.0
33  13-101  2019/05/31        C8      218.0       0.0
11  12-005   2019/10/9        F2      226.0       1.0
29  13-101  2019/05/31        A8      226.0       0.0
36  13-101  2019/05/31        E9      242.0       1.0
3   12-005  2019/05/29        B2      250.0       0.0
40  13-101   2019/10/7        A8      250.0       1.0
35  13-101  2019/05/31        D6      258.0       0.0
8   12-005  2019/05/29        F2      274.0       1.0
4   12-005  2019/05/29        D1      274.0       1.0
12  12-005   2019/10/9        F7      274.0       1.0
44  13-101   2019/10/7        D6      290.0       1.0
39  13-101   2019/10/7        A6      290.0       1.0
15  12-104  2019/05/30        B9      306.0       1.0
10  12-005   2019/10/9        B6      323.0       1.0
31  13-101  2019/05/31        B4      323.0       1.0
9   12-005   2019/10/9        A2      355.0       1.0
20  12-104   2019/10/8       A10      371.0       1.0
38  13-101   2019/10/7        A4      403.0       0.0
18  12-104  2019/05/30        F7      452.0       1.0
6   12-005  2019/05/29        D7      468.0       0.0
5   12-005  2019/05/29        D4      468.0       0.0
19  12-104  2019/05/30        F9      475.5       1.0
7   12-005  2019/05/29       E10      484.0       1.0
2   12-005  2019/05/29       B10      516.0       0.0
14  12-104  2019/05/30        B6      581.0       1.0
28  12-104   2019/10/8        F7      612.5       1.0
16  12-104  2019/05/30        C7      613.0       0.0
17  12-104  2019/05/30        E7      613.0       0.0
13  12-104  2019/05/30        B3      645.0       0.0
25  12-104   2019/10/8        B9      645.0       1.0
21  12-104   2019/10/8        A6      645.0       0.0
23  12-104   2019/10/8        B5      645.0       1.0
24  12-104   2019/10/8        B7      677.0       0.0
26  12-104   2019/10/8        C2      677.0       0.0
27  12-104   2019/10/8        D1      677.0       0.0

In [10]:
medians = (avg_data
.groupby(['Subject'])
.median())
medians.index

Index(['12-005', '12-104', '13-101'], dtype='object', name='Subject')

In [11]:
# due to differences in the way matlab and python
# computes percentiles we use the following function
# from https://stackoverflow.com/questions/58424704/output-produced-by-python-numpy-percentile-not-same-as-matlab-prctile
def matlab_percentile(x, p):
    p = np.asarray(p, dtype=float)
    n = len(x)
    p = (p-50)*n/(n-1) + 50
    p = np.clip(p, 0, 100)
    return np.percentile(x, p)

In [12]:
t_table = pd.DataFrame()
for subject in medians.index:
    query_string = 'Subject==' + '"' + subject + '"'
    print(query_string)  
    # select a single subject
    selected = avg_data.query(query_string)

    #calculate interquartile range of values in the 'points' column
    median = selected['Threshold'].median()
    #q75, q25 = np.percentile(selected['Threshold'], [75 ,25], interpolation='midpoint')
    q75 = np.round(matlab_percentile(selected['Threshold'],75),1)
    q25 = np.round(matlab_percentile(selected['Threshold'],25),1)

    iqr = q75 - q25
    t_table = t_table.append({'Subject': subject, 'Median': median, 'Q25-Q75': (q25, q75),
                              'IQR': iqr, 'Minimum': np.min(selected['Threshold']), 
                             'Maximum': np.max(selected['Threshold'])}, ignore_index=True)

Subject=="12-005"
Subject=="12-104"
Subject=="13-101"

In [13]:
t_table

     IQR  Maximum  Median  Minimum         Q25-Q75 Subject
0  224.0    516.0   274.0    153.0  (244.0, 468.0)  12-005
1  181.2    677.0   613.0    217.0  (463.8, 645.0)  12-104
2   70.2    403.0   218.0     89.0  (195.8, 266.0)  13-101

## Catch statistics

In [14]:
filename = 'S_12-005_12-104_13-101__collated_both_sessions.csv'

(double_x2, catch, subjectdata) = data.get_two_point(outpath, scriptpath, filename)

catch_means = pd.DataFrame()
for subject in medians.index:
    query_string = 'subject_id==' + '"' + subject + '"'
    print(query_string)  
    #select subject
    split = catch.query(query_string)
    # total number of trials per participant
    n= len(split)
    # times they perceived nothing when no stim
    hit = len(split[split['pts_number_processed']==0])
    # times they perceived >0 shapes
    fa = len(split[split['pts_number_processed']>0])
    print(n)
    print(hit)
    print(fa)
    catch_means = catch_means.append( {'subject_id': subject, 'false alarm rate': fa,
                             'total no of trials' : n, 'fa/n' : fa/n }, 
                             ignore_index= True)

subject_id=="12-005"
15
15
0
subject_id=="12-104"
12
10
2
subject_id=="13-101"
16
16
0

In [15]:
catch_means

       fa/n  false alarm rate subject_id  total no of trials
0  0.000000               0.0     12-005                15.0
1  0.166667               2.0     12-104                12.0
2  0.000000               0.0     13-101                16.0